<form action="/students" method="post">
  <label for="student">First Name</label>
  <input id="student" type="text" name="first_name" required/>

  <label for="student">Last Name</label>
  <input id="student" type="text" name="last_name" required/>

  <label for="age">Age</label>
  <input id="age" type="number" name="age" required/>
<!--
  <label for="house">House</label>
  <select id="house" name="house">
    <option value="Griffindor">Griffindor</option>
    <option value="Slytherin">Slytherin</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Ravenclaw">Ravenclaw</option>
  </select> -->

  <label for="house">House</label>
  <select id="house" name="house_id">
    <% for house in @houses %>
      <option value="<%= house.id %>">
        <%= house.name %>
      </option>
    <% end %>
  </select>

  <input type="submit" value="New Student">
</form>
